{% extends 'django_vue_admin/base.html' %}

<script>
    {% block script %}
        data: {
            {% if pk %}
            pk: {{ pk }},
            {% endif %}
                object:{},
            form: {},
            fields: []
        },
        mounted() {
            this.fetchInfo();
    },
        methods: {
            fetchInfo: function () {
                this.$http.get('{{ path }}info/').then((r) => {
                    r = r.body;
                    for(let k in r) {
                        this[k] = r[k];
                    }
                    {% if pk %}
                    this.fetchData();
                    {% endif %}
                })
            },
            fetchData: function() {
                this.$http.get('{{ path }}{{ pk }}').then((r) => {
                    r = r.body;
                    this.object = r;
                })
            },
            postData: function() {
                this.$http.post('{{ path }}{{ request.params }}{{ pk }}', this.object).then((r) => {
                    r = r.body;
                    this.object = r;
                })
            },
        }
    {% endblock %}
</script>
{% block main %}
<form>
<p v-for="field in form" :key="name">[[field.name]]<input :name="field.name" :type="field.input_type" :class="field.attrs.class" :required="field.is_required" v-model="object[field.name]" v-if="field.input_type"/>
</p>
<button @click="postData">save</button>
</form>
{% endblock %}
