{% extends "admin/base_site.html" %}
{% load i18n static %}
  {% block content %}
  <div id="main">
    {% block main %}{% endblock %}
  </div>
  {% endblock %}
  {% block extrahead %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script language="JavaScript">
        function init() {
            Vue.use(VueResource);
            new Vue({
                el: '#main',
                delimiters: ['[[', ']]'],
                // define data - initial display text
                {% block script %}
                {% endblock %}
            });
        }
    document.addEventListener('DOMContentLoaded', init);
</script>
  {% endblock %}
