{% extends 'django_react_admin/base.html' %}
<script>
{% block script %}
        data: function() { return {
          results: [],
            list_display: [],
            ordering_fields: [],
            filterset_fields: [],
            ordering: '',
            filters: {},
        }; },
        mounted() {
            this.fetchInfo();
        },
          methods: {
              fetchInfo: function () {
                  this.$http.get('{{ path }}info/').then((r) => {
                      r = r.body;
                      for(let k in r) {
                        this[k] = r[k];
                      }
                      this.fetchData();

                  })
              },
              fetchData: function() {
                  this.$http.get('{{ path }}', {
                      ordering: this.ordering,
                      page: this.page, ...this.filters
                  }).then((r) => {
                      r = r.body;
                      this.results = r.results;
                  })
              }
          }
{% endblock %}
</script>
{% block main %}
  <table>
    <thead><th>id</th><th v-for="h in list_display" :key="h"><a :href="(ordering_fields.indexOf(h)!==-1)?'?ordering='+h:''">[[ h ]]</a></th></thead>
    <tbody>
    <tr v-for="obj in results">
      <td>
        <a :href="obj.id">[[ obj.city_id ]]</a>
      </td>
      <td v-for="h in list_display" v-key="h">
        [[ obj[h] ]]
      </td>
    </tr>
    </tbody>
  </table>
  <form id="filters">
    <p v-for="f in filterset_fields">
      [[ f ]] <input :name="f"/>
    </p>
  </form>
{% endblock %}
